@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");
@import "tailwindcss";

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --font-quicksand: "Quicksand", sans-serif;
  --font-dancingscript: "Dancing Script", cursive;
  --font-poppins: "Poppins", sans-serif;
  --font-lora: "Lora", serif;
  --font-merriweather: "Merriweather", serif;
  --font-cormorant-garamound: "Cormorant Garamond", serif;
}

body {
  font-family: "Playfair Display",  serif;
  font-family: "Playfair Display",  serif;
}

.font-quicksand {
  font-family: var(--font-quicksand);
}

.font-dancingscript {
  font-family: var(--font-dancingscript);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-lora {
  font-family: var(--font-lora);
}

.font-merriweather {
  font-family: var(--font-merriweather);
}

.font-cormorant {
  font-family: var(--font-cormorant-garamound);
}

.falling-item {
  position: fixed;
  top: -80px;
  z-index: 9999;
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}

.soft-ripple {
  position: fixed;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: ripple-fade 1.2s ease-out;
  backdrop-filter: blur(4px); 
  z-index: 50;
}

@keyframes ripple-fade {
  0% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}