@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");
@import "tailwindcss";

:root {
  --font-quicksand: "Quicksand", sans-serif;
  --font-dancingscript: "Dancing Script", cursive;
  --font-poppins: "Poppins", sans-serif;
  --font-lora: "Lora", serif;
  --font-merriweather: "Merriweather", serif;
  --font-cormorant-garamound: "Cormorant Garamond", serif;
}

body {
  font-family: "Playfair Display",  serif;
  font-family: "Playfair Display",  serif;
}

.font-quicksand {
  font-family: var(--font-quicksand);
}

.font-dancingscript {
  font-family: var(--font-dancingscript);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-lora {
  font-family: var(--font-lora);
}

.font-merriweather {
  font-family: var(--font-merriweather);
}

.font-cormorant {
  font-family: var(--font-cormorant-garamound);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #5f8d4e;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #5f8d4e;
  }
}

        .typewriter {
            display: inline-block;
            overflow: hidden;
            border-right: 3px solid #5f8d4e;
            white-space: nowrap;
            width: 0;
            animation: 
                typing 3s steps(20, end) forwards,
                blink-caret 0.75s step-end infinite;
            animation-delay: 0.5s;
        }

        .falling-item {
  position: fixed;
  top: -80px;
  z-index: 9999;
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}
